#title {
  text-align: center;
}

.jumbotron {
  background-color: lightgray;
  padding: 3rem;
}

.container {
  margin-top: 2rem;
}

.form-group {
  padding-bottom: 15px;
}

#destinations_container {
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 1rem;
}

#submit_btn {
  width: 100%;
}

.card {
  width: 18rem;
  margin: 1px;
}

.btn-container {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-evenly;
}
